@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  box-shadow: 0 0 5px 1px rgba(180, 180, 180, 1);
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-radius: 3rem;
  width: calc(100vw - 3rem);
  height: 80px;
  vertical-align: middle;
}

.img {
  object-fit: contain !important;
  width: 60px;
  left: 1.5rem;
  position: relative;
}

.link,
.profile {
  text-decoration: none;
  color: rgba(100, 100, 100, 1);
  font-size: 14pt;
  transition: .2s ease;
  text-align: center;
}

.profile {
  font-size: 12pt;
  color: #FF5722;
  opacity: .9;
  font-weight: bold;
}

.container-fluid {
  width: calc(100vw - 2rem) !important;
}

.card {
  text-align: center !important;
  margin-bottom: 1rem;
  transition: .2s ease;
  border: 2px solid #eee;
}

.card:hover {
  box-shadow: 0 0 10px 1px #ccc;
  transform: scale(1.05);
}

.book {
  text-decoration: none;
  margin-bottom: 1rem !important;
  color: #333;
}

.book:hover {
  color: #333;
}

.image {
  object-fit: cover !important;
}